* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: whitesmoke;
   color: black;
   font-family: 'Amatic SC', cursive;
   font-weight: 900;
   font-size: 20px;
}
.top-margin {
    height: 8.1em;
}
header {
    width: 100vw;
    height: 6em;
    position: fixed;
    color: #d3cca3;
    font-style: oblique;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}
.pic-title {
    display: flex;
    font-style: oblique;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#header-img {
    position: absolute;
    margin: 0 0 0 3em;
    width: 6em;
    z-index: -1;
}
#header-title {
    align-self: flex-end;
    font-size: 3.2em;
    font-family: 'Barrio', cursive;
}
.nav-box {
    align-self: flex-end;
    width: 40%;
}
#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-anchor {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.nav-anchor:hover {
    color: #d3cca3;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display {
    margin: 2em 0 2em 0;
}
.product-info {    
    width: 50%;
    text-align: justify;
}
#pricing {
    width: 50%;
    height: 15em;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pricing-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 12em;
    height: 100%;
    border: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.1em;
    text-align: center;
}
.title-pricing {
    background-color: blanchedalmond;
    margin: 0;
}
.pricing-box>div  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;  
}